body {
	background-image: url("image/bee6.jpg");
	background-repeat: no-repeat;
	width: 100%;
	background-color: rgb(074, 156, 092);
	background-size: cover;
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

          body {
        background-image: none;
        background-color: #000;
    }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

          body {
        background-image: none;
        background-color: #000;
    }

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

          body {
        background-image: none;
        background-color: #000;
    }

}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 24px !important;
}

.navbar-brand>a:hover {
	color: rgb(155, 155, 155);
}

.dropdown-menu a {
	color: rgb(155, 155, 155) !important;
}

.navbar-custom {
	background-color: rgba(049, 041, 044, 1) !important;
}

#active {
	color: rgb(049, 041, 044) !important;
}

.navbar-custom a {
	color: #FFF;
	font-size: 18px;
}

a:hover {
	color: rgb(0, 122, 128) !important;
}

.navbar-brand>img {
  height: 100%;
  padding: 0px 15px;
  width: auto;
}

.example3 .navbar-brand {
  height: 80px;
}

.example3 .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.example3 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

#content {
	background: rgba(250, 250, 250, 0.5);
	padding: 20px;
	margin-top: 100px;
}

#content h1 p {
	color: rgb(049, 041, 044);
}

#content a {
	color: rgb(0, 122, 128)
}