@charset "utf-8";

img.header {
	margin-top: 100px;
	/*width: 100%;*/
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}
#about {
	margin-top: 50px; /*130px without img header*/
	margin-bottom: 50px;
}

#main-text {
	margin-top: 130px;
	margin-bottom: 75px;
}

.content {
	background: rgb(180, 230, 220);
	padding: 20px;
	border: 1px #FFF solid;
	border-radius: 5px;
}
.content>h1 {
	font-size: 4em;
}

.content>p {
	font-size:20px;
}

.content a {
	color: rgb(0, 122, 128);
}
.container {
	color: black;
	width: 90% !important;
	flex: 1;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 24px !important;
}

.navbar-brand>a:hover {
	color: rgb(155, 155, 155);
}

.dropdown-menu a {
	color: rgb(155, 155, 155) !important;
}

.navbar-custom {
	background-color: rgb(0, 122, 128) !important;
}

#active {
	color: rgb(049, 041, 044) !important;
}

.navbar-custom a {
	color: #FFF !important;
	font-size: 18px;
}

.navbar-custom a:hover {
	color: #FFF !important;
	text-decoration: underline;
}

.navbar-brand>img {
  height: 100%;
  padding: 0px 15px;
  width: auto;
}

li.dropdown.open>a,.dropdown-menu>li>a, .dropdown-menu>li>a:hover{
    color:#000 !important;
}

.menu-li>a:hover {
	background-color: rgb(0, 122, 128) !important;
}

.divnavbar .navbar-brand {
  height: 80px;
}

.divnavbar .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.divnavbar .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.footer {
	color: #FFF;
	text-align: center;
	padding: 15px;
	padding-bottom: 5px !important;
	background-color: rgb(0, 122, 128);
	margin-top: 50px;
	border-top: 1px solid #FFF;
}

.footer a {
	color: #FFF;
	text-decoration: underline;
}

.footer a:hover {
	color: #FFF;
	text-decoration: none;
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

    body {
        background-image: none;
        background-color: #000;
    }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

    body {
        background-image: none;
        background-color: #000;
    }

    .header {
    	display: none;
    }

    .content>h1 {
    	font-size: 3em;
    }

    .content>p {
    	font-size: 14px;
    }

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

    body {
        background-image: none;
        background-color: #000;
    }
		.navbar-brand {
		  font-size: 15px !important;
		}
}
