@charset "utf-8";

#bg {
	background-color: #404040;
	font-family: Sans Serif;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}


.container {
	color: black;
	width: 90% !important;
	flex: 1;
}

#pan-head {
	background-color: #6ab7cb;
	font-size: 30px;
	font-style: bold;
}

#pan-bod {
	background-color: #f5f5f5;
	font-size: 15px;
}

li img {
	max-height: 50px !important;
	width: 50px;
	margin: auto;
	padding-right: 10px;
}

img {
	margin: auto;
	width: 100%;
}

.navbar-inverse {
	font-size: 16px;
	padding: 5px;
	border-radius: 0 !important;
}

.carousel img {
	width: auto;
	height: 225px;
	max-height: 500px;
	margin: auto;
}

.footer {
	background-color: #222222;
	color: #d2d2d2;
	text-align: center;
	padding: 15px;
	padding-bottom: 5px !important;
}
