@charset "utf-8";


img.header {
	margin-top: 15%;
	width: 49%;
	margin-left: auto;
	margin-right: auto;
}

#about {
	margin-top: 14%;
	margin-bottom: 3%;
}

.header-div {
	display: block;
}

.content {
	background: rgb(180, 230, 220);
	padding: 4%;
	border-radius: 0.3em;
	margin-bottom: 1em;
	font-size: 1.25em;
}
.content>h1 {
	font-size: 3em;
}

.page-header {
	border-color: black !important;
}

.content>p {
	font-size:1.25em;
}

.content a {
	color: rgb(0, 122, 128);
}

.container {
	color: black;
	width: 80% !important;
	flex: 1;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 1.5em !important;
}

.navbar-brand>a:hover {
	color: rgb(155, 155, 155);
}

.dropdown-menu a {
	color: rgb(155, 155, 155) !important;
}

.navbar-custom {
	background-color: rgb(0, 122, 128) !important;
}

#active {
	color: rgb(049, 041, 044) !important;
}

.navbar-custom a {
	color: #FFF !important;
	font-size: 1.25em;
}

.navbar-custom a:hover {
	color: #FFF !important;
	text-decoration: underline;
}

.navbar-brand>img {
  height: 100%;
  padding: 0em 0.75em;
  width: auto;
}

li.dropdown.open>a,.dropdown-menu>li>a, .dropdown-menu>li>a:hover{
    color:#000 !important;
}

.menu-li>a:hover {
	background-color: rgb(0, 122, 128) !important;
}

.divnavbar .navbar-brand {
  height: 3.5em;
}

.divnavbar .nav >li >a {
  padding-top: 1.75em;
  padding-bottom: 1.75em;
}
.divnavbar .navbar-toggle {
  padding: 0.75em;
  margin: 2em 1em 2em 0em;
}

.footer {
	color: #FFF;
	text-align: center;
	padding: 1em;
	padding-bottom: 0.5em !important;
	background-color: rgb(0, 122, 128);
	margin-top: 5%;
/* 	border-top: 1px solid #FFF; */
}

.footer a {
	color: #FFF;
	text-decoration: underline;
}

.footer a:hover {
	color: #FFF;
	text-decoration: none;
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	img.header {
		margin-top: 20%;
	}
	
	.content>h1 {
		font-size: 2em;
	}

	.content>p {
		font-size:1em;
	}

	.navbar-brand {
	  display: flex;
	  align-items: center;
	  font-size: 1em !important;
	}

	#active {
		color: rgb(049, 041, 044) !important;
	}

	.navbar-custom a {
		color: #FFF !important;
		font-size: 1em;
	}

	.navbar-custom a:hover {
		color: #FFF !important;
		text-decoration: underline;
	}

	.navbar-brand>img {
	  height: 90%;
	  padding: 0em 00.25em;
	  width: auto;
	}

	li.dropdown.open>a,.dropdown-menu>li>a, .dropdown-menu>li>a:hover{
	    color:#000 !important;
	}

	.menu-li>a:hover {
		background-color: rgb(0, 122, 128) !important;
	}

	.divnavbar .navbar-brand {
	  height: 3.5em;
	}

	.divnavbar .nav >li >a {
	  padding-top: 1em;
	  padding-bottom: 1em;
	}
	.divnavbar .navbar-toggle {
	  padding: 0.3em;
	  margin: 1em 1em 1em 1em;
	}

}

/* Portrait phones and smaller */
@media (max-width: 400px) {

	.header {
		display: none;
	}
  
	#about {
		margin-top: 20%;
	}
}
