.image-holder {
  display: block;
}

.image-inside {
  margin-left: 10px;
  margin-right: 10px;
}

.caption {
  background: rgb(180, 230, 220);
  margin-top: 5px;
  padding: 10px;
  border: 2px #000 solid;
  border-radius: 1px;
  font-size: 20px;
}

.text-holder {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}

.float-left {
	float: left;
	margin-right: 8px;
	padding: 25px 0px 0px 10px;
}
