.image-holder {
  display: block;
}

.image-inside {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.caption {
  background: rgb(180, 230, 220);
  margin-top: 1em;
  padding: 0.5em;
  border: 0.15em #000 solid;
  border-radius: 0;
  font-size: 1em;
}

.text-holder {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.25em;
}

.quick-facts {
  background: rgb(0, 122, 128);
  color: white;
  padding: 1%;
  border-radius: 0.3em;
  margin-bottom: 1em;
}

.float-left {
  float: left;
  margin-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

@media (max-width: 700px) {
  .image-inside {
    margin-left: 0em;
    margin-right: 0em;
  }
  .text-holder {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1em;
  }
}
